body {
  background-color: #f4f6f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #ffffff !important;
  border-bottom: 2px solid #eaeaea;
}

.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
